.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
stamp-h1
xtst.pc
x.stamp
*~
*.3
*.la
*.lo
*.man
*.o
libXtst-*.tar.*
ChangeLog
tags
